* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}
.flex-container {
  display: flex;
}
.flex-container .flex-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container .flex-half div {
  width: 50%;
}
.flex-container .flex-half h1 {
  font-size: 40px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 13px;
  margin-top: 0px;
}
.flex-container .flex-half h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: #00acca;
}
.flex-container .category-right {
  background-image: url('../img/htmlexample2/sliderImg1.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-container {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 0;
  bottom: auto;
  left: 0;
  right: 0;
  display: block;
}
.menu-container .menu {
  height: 0;
  background-color: #0f131e;
  display: flex;
  align-items: center;
  overflow: auto;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  overflow: hidden;
  justify-content: center;
  color: #fff;
}
.menu-container .menu .menu-list {
  margin: 0;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  opacity: 0;
  font-size: 40px;
  font-weight: 900;
  list-style-type: none;
  padding: 13px;
}
.menu-container .menu .menu-list li {
  transform: translateX(-10vh) translateZ(0);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
}
.menu-container .menu .menu-list li a {
  color: #fff;
  text-decoration: none;
}
.menu-container .menu .menu-list li:nth-child(1) {
  transition-delay: .37s;
  -ms-transition-delay: .37s;
}
.menu-container .menu .menu-list li:nth-child(2) {
  transition-delay: .45s;
  -ms-transition-delay: .45s;
}
.menu-container .menu .menu-list li:nth-child(3) {
  transition-delay: .52s;
  -ms-transition-delay: .52s;
}
.menu-container .menu .menu-list li:nth-child(4) {
  transition-delay: .59s;
  -ms-transition-delay: .59s;
}
.menu-container .menu .menu-list li:nth-child(5) {
  transition-delay: .66s;
  -ms-transition-delay: .66s;
}
.menu-container .menu .menu-list .list-transform {
  transform: translateX(0) translateZ(0);
  opacity: 1;
}
.menu-container .menu .list-opened {
  opacity: 1;
}
.menu-container .menu-opened {
  height: 100vh;
}
.nav-icon {
  width: 40px;
  height: 25px;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #ffffff, #b7b7b7);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav-icon span:nth-child(2) {
  top: 10px;
}
.nav-icon span:nth-child(3) {
  top: 20px;
}
.categories {
  margin-top: 100px;
}
.categories .main-category-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.categories .main-category-container h1 {
  margin-bottom: 100px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 36px;
}
.categories .main-category-container .category-container {
  display: flex;
}
.categories .main-category-container .category-container .main-category-left {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.categories .main-category-container .category-container .main-category-left h1 {
  font-size: 40px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 13px;
  margin-top: 0px;
}
.categories .main-category-container .category-container .main-category-left div {
  margin: 0 auto;
  position: relative;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}
.categories .main-category-container .category-container .main-category-left div img {
  max-width: 100%;
  height: auto;
}
.categories .main-category-container .category-container .main-category-left div h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin: 0;
  opacity: .3;
}
.categories .main-category-container .category-container .main-category-left div:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.categories .main-category-container .category-container .main-category-left div:hover h3 {
  opacity: .7;
}
.categories .main-category-container .category-container .main-category-right {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.categories .main-category-container .category-container .main-category-right div {
  margin: 0 auto;
  position: relative;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}
.categories .main-category-container .category-container .main-category-right div img {
  max-width: 100%;
  height: auto;
}
.categories .main-category-container .category-container .main-category-right div h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin: 0;
  opacity: .3;
}
.categories .main-category-container .category-container .main-category-right div:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.categories .main-category-container .category-container .main-category-right div:hover h3 {
  opacity: .7;
}
.products-section {
  margin-top: 100px;
}
.products-section .main-product-container {
  width: 80%;
  margin: 0 auto;
}
.products-section .main-product-container h1 {
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 4px;
}
.products-section .main-product-container .internal-product-container {
  text-align: center;
}
.products-section .main-product-container .internal-product-container .products {
  margin-top: 25px;
}
.products-section .main-product-container .internal-product-container .products .product-list {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.products-section .main-product-container .internal-product-container .products .product-list li {
  width: 23%;
  display: inline-block;
  padding: 5px;
  text-align: left;
  vertical-align: top;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(130deg, rgba(29, 29, 29, 0.18) 25%, #b5b5b5 50%, #ffffff 75%, #d2d2d2 100%) 1;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.products-section .main-product-container .internal-product-container .products .product-list li a {
  text-decoration: none;
  color: #000;
}
.products-section .main-product-container .internal-product-container .products .product-list li .product-image img {
  max-width: 100%;
  height: auto;
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}
.products-section .main-product-container .internal-product-container .products .product-list li .product-image img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.products-section .main-product-container .internal-product-container .products .product-list li .product-info {
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  line-height: 20px;
  letter-spacing: 1.3px;
  padding-left: 10px;
  min-height: 120px;
}
footer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
footer .footer-container {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(130deg, rgba(29, 29, 29, 0.18) 25%, #b5b5b5 50%, #ffffff 75%, #d2d2d2 100%) 1;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .footer-container .stack-4 {
  width: 22%;
  display: inline-block;
  text-align: left;
  padding-left: 30px;
}
footer .footer-container .stack-4 .footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
footer .footer-container .stack-4 .footer-list a {
  margin: 6px 0;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: black;
}
@media (max-width: 767px) {
  .intro-section {
    overflow-x: hidden;
  }
  .intro-section .flex-container {
    flex-direction: column;
  }
  .intro-section .flex-container .flex-half {
    display: flex;
    align-items: center;
    height: 85vh;
  }
  .intro-section .flex-container .category-right {
    height: 100vw;
    width: 100vw;
  }
  .categories {
    margin-top: 60px;
  }
  .categories .main-category-container {
    width: 100%;
  }
  .categories .main-category-container h1 {
    margin-bottom: 60px;
  }
  .categories .main-category-container .category-container {
    flex-direction: column;
  }
  .categories .main-category-container .category-container .main-category-left {
    margin-bottom: 5px;
  }
  .categories .main-category-container .category-container .main-category-right {
    margin-top: 5px;
  }
  .products-section .main-product-container {
    width: 96%;
  }
  .products-section .main-product-container .internal-product-container .products .product-list li {
    width: auto;
  }
  footer {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  footer .footer-container .stack-4 {
    width: 33%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .products-section .main-product-container .internal-product-container .products .product-list li {
    width: 47%;
  }
  footer {
    width: 100%;
  }
}
@media (max-width: 470px) {
  .categories .main-category-container h1 {
    font-size: 26px;
  }
  .products-section .main-product-container h1 {
    font-size: 36px;
    text-align: center;
  }
  footer {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  footer .footer-container .stack-4 {
    width: 90%;
  }
}
