*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

.icon-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper {
	overflow: hidden;
	position: relative;
	height: 100vh;
	transition: transform .7s cubic-bezier(.62, .28, .23, .99);
}

.right-bar {
	position: fixed;
	top: 0;
	right: 0;
	width: 20%;
	background: #000;
	height: 100vh;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	transform: translateX(100%);
	transition: transform .7s cubic-bezier(.62, .28, .23, .99);
}

.inside-right-bar {
	text-align: right;
	width: 80%;
	margin: 0 auto;
}

.inside-right-bar h1 {
	letter-spacing: 6px;
}

.left-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	background: #000;
	height: 100vh;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	transform: translateX(-100%);
	transition: transform .7s cubic-bezier(.62, .28, .23, .99);
}

.inside-left-bar {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

.inside-left-bar h1 {
	letter-spacing: 6px;
	font-size: 2em;
}

.inside-left-bar p {
	width: 92%;
}

.hidden-active {
	-webkit-transform: translate3d(-20%, 0, 0);
	-moz-transform: translate3d(-20%, 0, 0);
	-ms-transform: translate3d(-20%, 0, 0);
	-o-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
}

.rside-active {
	transform: translateX(0);
	z-index: 1;
}

.lside-active {
	transform: translateX(0);
	z-index: 1;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 2px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
}

.hamburger-container p {
	padding-top: 50px;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 16px;
	text-align: center;
}

.hamburger-container {
	width: 60px;
	height: 45px;
	position: relative;
	margin: 50px auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.hamburger-container span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: linear-gradient(to right, rgb(229, 93, 135), rgb(95, 195, 228));
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

/* Hamburger Icon */

.hamburger-container span:nth-child(1) {
	top: 0px;
}

.hamburger-container span:nth-child(2),
.hamburger-container span:nth-child(3) {
	top: 18px;
}

.hamburger-container span:nth-child(4) {
	top: 36px;
}

.hamburger-container.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.hamburger-container.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hamburger-container.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.hamburger-container.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

/* Right Side Icon */

.ious-container p {
	padding-top: 50px;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 16px;
	text-align: center;
}

.ious-container {
	width: 60px;
	height: 45px;
	position: relative;
	margin: 50px auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.ious-container span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: linear-gradient(to right, rgb(229, 93, 135), rgb(95, 195, 228));
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.ious-container span:nth-child(1) {
	top: 0px;
}

.ious-container span:nth-child(2),
.ious-container span:nth-child(3) {
	top: 18px;
}

.ious-container span:nth-child(4) {
	top: 36px;
}

.ious-container.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.ious-container.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ious-container.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.ious-container.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

@media (min-width: 801px) and (max-width: 1200px) {
	.inside-left-bar h1 {
		font-size: 20px;
	}
	.inside-left-bar p {
		text-transform: none;
		font-size: 14px;
	}
	.inside-right-bar h1 {
		font-size: 20px;
	}
	.inside-right-bar p {
		text-transform: none;
		font-size: 14px;
	}
}

@media (max-width: 600px) {
	.wrapper h3 {
		font-size: 11px;
		letter-spacing: 1px;
		width: 62%;
	}
}

@media (max-width: 800px) {
	.inside-left-bar p,
	.inside-right-bar p {
		display: none;
	}
	.inside-left-bar,
	.inside-right-bar {
		width: 39px;
		height: 205px;
	}
	.inside-right-bar h1,
	.inside-left-bar h1 {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
	}
}